@{
    ViewData["Title"] = "Home";
}
@model Survey

<div>
    <h4>Here's your info......</h4>
    <p>@Model.Name</p>
    <p>@Model.Location</p>
    <p>@Model.Lang</p>
    <p>@Model.Comment</p>
    <a href="/">Home</a>
</div>