@{
    ViewData["Title"] = "Home Page";
}
@model Login

<div class="text-center">
    <form asp-action="Login" asp-controller="Home" method="post">
    <p></p>
    <label asp-for="UserEmail">Email:</label>
    <input asp-for ="UserEmail" type="text">
    <span asp-validation-for="UserEmail"></span>
<p></p>
<p></p>
    <label asp-for="UserPassword">Password:</label>
    <input asp-for ="UserPassword" type="text">
    <span asp-validation-for="UserPassword"></span>
    <p></p>
    <input type="submit" value="Login">
    <p></p>
</form>
</div>
