@{
    ViewData["Title"] = "Home Page";
}
<div class="indexPage">
    <form asp-action="build" method="post">
        <label for="Name">Name:</label>
        <input name="Name" for="Name" type="text">
        <button>Submit</button>
    </form>
</div>