<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <h1>Sasquatch Websighting {{main_user.first_name}}</h1>
    
    <div>
        <a href="/dashboard">dashboard</a>
        <a href="logout">logout!</a>
    </div>

    <form action="/create/sighting" method="post">


        <h2>report a sighting</h2>


        {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div>
            <label for="name">Location:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="description">What happened:</label>
            <textarea name="description"  cols="30" rows="10"></textarea>
        </div>
        <label for="under"></label>    
            <div>
                <label for="">When did it happen?</label>
            <input type="date" name="date">
            
        </div>
        
        <input type="number" name="under"> 
        <label for="number"># of sightings</label>
        <div>
            <input type="submit" value="report!">
        </div>

    </form>
</body>
</html>