<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<h1>Sasquatch Websighting     {{this_sighting.host.first_name}}</h1>
<body>
    <div>
        <a href="/dashboard">dashboard</a>
        <a href="/logout">logout!</a>
    </div>
{{this_recipe}}
    <form action="/update/{{this_sighting.id}}" method="post">

        <h2>edit your Sighting</h2>


        {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div>
            <label for="name" >Location:</label>
            <input type="text" name="name" value="{{this_sighting.name}}">
        </div>
        <div>
            <label for="description">What happened?</label>
            <textarea name="description"  cols="30" rows="10"value="">{{this_sighting.description}}</textarea>
        </div>
        <div>
        </div>
        <label for="under"></label>    
            <div>
            <label for="date">When?:</label>
            <input type="date" name="date"value="{{this_sighting.date}}">
            
        </div>
        <div>
            <input type="number" name="under" value="{{  this_sighting.under }}"> 
        </div>
        <div>
        <button>Report Sighting!</button>
        </div>
    </form>

</body>
</html>