<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show 1</title>
</head>
<body>
    <div>
    <h1>Sasquatch Websighting     {{this_sighting.host.first_name}}</h1>
    </div>
    

    <h5>Date of sighting:     {{this_sighting.date}}</h5>
    <h5>What happened:       {{this_sighting.description}}</h5>
    <h5>How many sightings:    {{ this_sighting.under }} </h5>
</body>
<a href="/dashboard">Home</a>
<a href="/logout">Logout</a>
</html>