@{
    ViewData["Title"] = "Home Page";
}
@model Dish

<div>
    <h1>Hello please make a dish!</h1>
    <a href="/"></a>
    Add Dish
</div>
<p></p>

<div>
    <form asp-action="MakeDish" asp-controller="Home" method="post">
    <label for="Chef">Chef's Name</label>
    <input asp-for="Chef" type="text" >
    <span asp-validation-for="Chef"></span>

    <label for="Name">Name of Dish</label>
    <input asp-for="Name" type="text" >
    <span asp-validation-for="Name"></span>

    <p></p>
    <label for="Calories"># of Calories</label>
    <input asp-for="Calories" type="number"  id="" min="0">
    <span asp-validation-for="Calories" ></span>

    <p></p>
    <div>
        <label for="Tasiness">Tastiness</label>
        <select asp-for="Tasiness"  id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tasiness"></span>
    </div>
    <p></p>
    <p></p>
    <div>
        
        <label for="Desc">Description</label>
        <p></p>
        <textarea asp-for="Description"  cols="30" rows="10"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <button>Add Dish</button>
    </form>
</div>