@{
    ViewData["Title"] = "Home Page";
}


@model Dish

    <a href="/">Home</a>
    <a href="/new/dish">Add Dish</a>

<div>
    
    <h1>Chef Name :@Model.Chef</h1>
    <a href="/">Home    |</a>
    <a href="/new/dish">Add Dish</a>
</div>
<div>
    <p>Dish name :@Model.Name</p>
    <p>TastieNess :@Model.Tasiness</p>
    <p>Calories :@Model.Calories</p>
    <p>Dish Description: @Model.Description</p>
</div>

<div>
    <form asp-action="Delete" asp-controller="Home" asp-route-DishID="@Model.DishId" method="post">
        <button>Delete</button>
    </form>
    <a href="/render/@Model.DishId/dish"><button>Edit</button></a>
</div>
