@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>please enter your user name below
        <p></p>
    <form action="/user" method="post">
        <label for="username">username:</label>
        <input type="text" name="username" >
        <button >submit</button>
    </form>
    </h2>
</div>
