<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyForm</title>
</head>
<body>
    <form action="Fillout" method="post">
        <div>
            <label for="Name">Your Name:</label>
            <input type="text" name="" id="">

            <label for="Dojo">Dojo Location:</label>
            <select name="Dojo" id="">
                <option value="NY">NY</option>
                <option value="FL">FL</option>
            </select>

            <label for="Lang">Coding Language:</label>
            <select name="Lang" id="">
                <option value="C#">C#</option>
                <option value="Python">Python</option>
            </select>
            
            <label for="Comment">Comments ("optional")</label>
            <textarea name="Comment" id="" cols="30" rows="10"></textarea>
            <button>submit</button>
        </div>
    </form>
</body>
</html>