@model User


<div class="text-center">
    <p></p>
    <form asp-action="Register" asp-controller="Home" method="post">
        <label for="UserName">UserName:</label>
        <input asp-for="UserName" type="text">
        <span asp-validation-for="UserName"></span>
        <p></p>
        <label for="Email">Email:</label>
        <input asp-for="Email"type="text" id="Email">
        <span asp-validation-for="Email"></span>
        <p></p>
        <label for="Password">Password:</label>
        <input asp-for="Password"type="text" id="ConfirmPassword">
        <span asp-validation-for="Password"></span>
        <p></p>
        <label for="ConfirmPassword">ConfirmPassword:</label>
        <input asp-for="ConfirmPassword"type="text" id="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
        <p></p>
        <button>register</button>
        <p></p>
    </form>
</div>