<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User in session</title>
</head>
<body>
    <div>
        <div>
            <h1>User info</h1>
            <p>Name: @Context.Session.GetString("Name")</p>
            <p>Dojo: @Context.Session.GetString("Location")</p>
            <p>Language: @Context.Session.GetString("Lang")</p>
            <p>Comments: @Context.Session.GetString("Comment")</p>
            <a href="/">DashBoard</a>
        </div>
    </div>
</body>
</html>